<h1 align="center">כניסה למורשי עריכה</h1>
<%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: login_path) do |f| %>
  <div class="flabel">
    <%= f.label "דואר אלקטרוני" %>
  </div>
  <div>
    <%= f.email_field :email, class: "form-control", placeholder: "דואר אלקטרוני", autofocus: true %>
  </div>

  <div class="flabel">
    <%= f.label "סיסמא" %>
  </div>
  <div>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  
  <br>
  <div>
    <%= f.submit "כניסה למורשים", class: 'button' %>
  </div>
<% end %>
