<h1 class="hdr">נתוני חלקה</h1>

<%= form_for @plot do |f| %>
    <div class="field">
        <%= f.label :name, :class => "flabel" %>
        <%= f.text_field :name, class: 'finput' %>
    </div>
    <div class="field">
        <%= f.label :species_id, :class => "flabel" %>
        <%= f.collection_select :species_id, Species.order(:name), :id, :name, include_blank: true %>
    </div>
    <div class="field">
        <%= f.label :Cultivar, "Cultivar", :class => "flabel" %><br />
        <%= f.grouped_collection_select :cultivar_id, Species.order(:name), :cultivars, :name, :id, :name, include_blank: true %>
                <!--<select name="plot[cultivar_id]" id="plot_cultivar_id"><option value=""></option>-->
                <!--    <optgroup label="אגס">-->
                <!--        <option value="2">יפיופי</option>-->
                <!--    </optgroup>-->
    </div>
    <div class="field">
        <%= f.label :Yieldrec, "Yieldrec", :class => "flabel" %><br />
        <!--grouped_collection_select(object,         method,                collection, group_method, group_label_method, option_key_method, option_value_method, options = {}, html_options = {}) public-->
        <%= f.grouped_collection_select :yieldrec_id, Cultivar.order(:name), :yieldrecs, :name,        :id,                :plot_strength,     include_blank: true %>
    </div>
    <div class="field">
        <%= f.label :arms, :class => "flabel" %>
        <%= f.number_field :arms, class: 'finput' %>
    </div>
    <div class="field">
        <%= f.label :linedist_meters, :class => "flabel" %>
        <%= f.number_field :linedist_meters, class: 'finput' %>
    </div>
    <div class="field">
        <%= f.label :treedist_meters, :class => "flabel" %>
        <%= f.number_field :treedist_meters, class: 'finput' %>
    </div>

    
    <%= f.submit "חשב", class: 'finput' %>
<% end %>

