<div class="hdr-bg">
  <h1 class="hdr">נתוני חלקה</h1>
</div>
<br>
<table id="plot">
  <thead>
    <tr>
      <th>תכונה</th>
      <th>ערך</th>      
    </tr>
  </thead>

  <tbody>
    <tr>
        <td>שם החלקה</td>
        <td><%= @plot.name %></td>
    </tr>
    <tr>
        <td>שם מין הפרי</td>
        <td><%= @plot.species.name %></td>
    </tr>
    <tr>
        <td>שם זן הפרי</td>
        <td><%= Cultivar.find(@plot.cultivar_id).name %></td>
    </tr>
    <tr>
        <td>משקל פרי ממוצע לזן זה (גרם)</td>
        <td><%= Cultivar.find(@plot.cultivar_id).fruit_weight_gr %></td>
    </tr>
    <tr>
        <td>מרחק בין שורות (מטר)</td>
        <td><%= @plot.linedist_meters %></td>
    </tr>
    <tr>
        <td>מרחק בין עצים (מטר)</td>
        <td><%= @plot.treedist_meters %></td>
    </tr>
    <tr>
        <td>מספר עצים לדונם</td>
        <td><%= @plot.trees_per_dunam %></td>
    </tr>
  </tbody>
</table>
<br>
<div class="hdr-bg">
  <h1 class="hdr">תוצאות מחשבון דילול חלקה <%= Yieldrec.find(@plot.yieldrec_id).plot_strength %></h1>
</div>
<br>

<table id="plot_results">
  <thead>
    <tr>
      <th>חישוב</th>
      <th>תוצאה</th>      
    </tr>
  </thead>

  <tbody>
    <tr>
        <td>צפי יבול מומלץ (ק"ג)</td>
        <% @base_yield = Yieldrec.find(@plot.yieldrec_id).recommended_kg %>
        <td><%= @plot.yieldwish_kg + @base_yield %></td>
    </tr>
    <tr>
        <td>כמות פרי לעץ (ק"ג)</td>
        <td><%= @plot.kg_per_tree %></td>
    </tr>
    <tr>
        <td>מספר פירות לעץ</td>
        <td><%= @plot.fruits_per_tree %></td>
    </tr>
    <% if @plot.fruits_per_arm > 0 %>
    <tr>
        <td>מספר פירות לזרוע</td>
        <td><%= @plot.fruits_per_arm %></td>
    </tr>
    <% end %>
    
  </tbody>
</table>
<br>
<div class="warning">
  <h2>אין באמור לעיל אלא בגדר עצה מקצועית בלבד ועל מקבל העצה לנהוג מנהג זהירות.</h2>
  <h2>ביצוע האמור בעצה הינו על אחריותו הבלעדית של מקבל העצה.</h2>
</div>
<br>
<%= link_to 'שמור תוצאות', plots_download_pdf_path(@plot), { :class => "button", :id => "plotshow" } %>
<%#= link_to 'שלח תוצאות במייל', "#", { :class => "button", :id => "plotshow" } %>
<br>

    
    
    <!--t.integer  "linedist_meters"-->
    <!--t.integer  "treedist_meters"-->
    <!--t.integer  "arms"-->
    <!--t.integer  "yieldwish_kg"-->
    <!--t.datetime "created_at",      null: false-->
    <!--t.datetime "updated_at",      null: false-->
    <!--t.string   "name"-->
    <!--t.integer  "trees_per_dunam"-->
    <!--t.integer  "kg_per_tree"-->
    <!--t.integer  "fruits_per_tree"-->
    <!--t.integer  "fruits_per_arm"-->
    <!--t.integer  "cultivar_id"-->
    <!--t.integer  "species_id"-->
    <!--t.string   "strength"-->
    <!--t.integer  "yieldrec_id"-->