<p id="notice"><%= notice %></p>

<h1>מינים</h1>

<table id="species">
  <thead>
    <tr>
      <th>שם מין</th>
      <th>פעולות</th>
    </tr>
  </thead>

  <tbody>
    <% @species.each do |species| %>
      <tr>
        <td><%= species.name %></td>
        <td>
        <%= link_to 'זנים קשורים', species_path(species) %>
        <%= link_to 'ערוך', edit_species_path(species) %>
        <% if logged_in? && current_user.admin? %>
        <%= link_to 'מחק', species, method: :delete, data: { confirm: 'מחיקת מין תביא למחיקת כל הזנים הקשורים וכל המלצות היבול. האם אתה בטוח?' } %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'הוסף מין', new_species_path ,{ :class=>"button" }%>
