    <%= form_for(@user, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div>
        <div>
          <%= f.label "דואר אלקטרוני", :class => "flabel" %>
        </div>
        <div>
          <%= f.email_field :email, :placeholder => "הזן דואר אלקטרוני", :autocomplete => "off" %>
        </div>
      </div>
      <div>
        <div>
          <%= f.label "סיסמא", :class => "flabel" %>
        </div>
        <div>
          <%= f.password_field :password, :placeholder => "בחר סיסמא", :autocomplete => "off" %>
        </div>
      </div>
      <div>
        <div>
          <%= f.submit(@user.new_record? ? "הרשמה" : "עדכן חשבון משתמש", class: 'finput') %>
        </div>
      </div>
    <% end %>
    

