<p id="notice"><%= notice %></p>

<h1>משתמשים</h1>

<table>
  <thead>
    <tr>
      <th>דואר אלקטרוני</th>
      <th>הרשאות עריכה</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.admin %></td>
        <td><%= link_to 'הצג', user %></td>
        <td><%= link_to 'ערוך', edit_user_path(user) %></td>
        <td><%= link_to 'מחק', user, method: :delete, data: { confirm: 'נא לאשר מחיקת משתמש' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'הרשמה', signup_path %>
