<p id="notice"><%= notice %></p>

<h1>משתמשים</h1>

<table id="users">
  <thead>
    <tr>
      <th>דואר אלקטרוני</th>
      <th>מורשה עריכה</th>
      <% if current_user.admin? %>
      <th>מזהה משתמש</th>
      <% end %>
      <% if logged_in? %>
      <th>פעולות</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.admin ? "כן" : "לא" %></td>
        <% if current_user.admin? %>
        <td><%= user.id %></td>
        <% end %>
        <% if logged_in? and (user == current_user || current_user.admin? ) %>
        <td>
          <%= link_to 'הצג', user %>
          <%= link_to 'ערוך', edit_user_path(user) %>
          <% if current_user.admin? %>
          <%= link_to 'מחק', user, method: :delete, data: { confirm: 'נא אשר מחיקת משתמש' } %>
          <% end %>
        </td>
        <% end %>
        
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'הרשמה', signup_path,{ :class=>"button" } %>
