<p id="notice"><%= notice %></p>

<p>
  <strong>דואר אלקטרוני</strong>
  <%= @user.email %>
</p>
<% if current_user.admin? %>
<p>
  <strong>מזהה משתמש</strong>
  <%= @user.id %>
</p>
<% end %>
<p>
  <strong>מורשה עריכה</strong>
  <%= @user.admin ? "כן" : "לא" %>
</p>

<%= link_to 'ערוך', edit_user_path(@user) %> |
<%= link_to 'חזור', :back %>
