<p id="notice"><%= notice %></p>

<p class="flabel">
  <strong>דואר אלקטרוני</strong>
  <%= @user.email %>
</p>
<% if current_user.admin? %>
<p class="flabel">
  <strong>מזהה משתמש</strong>
  <%= @user.id %>
</p>
<% end %>
<p class="flabel">
  <strong>מורשה עריכה</strong>
  <%= @user.admin ? "כן" : "לא" %>
</p>
<br><br>
<%= link_to 'ערוך משתמש', edit_user_path(@user), class: 'button' %>
