<table id="cultivars">
  <thead>
    <tr>
      <th>מין הפרי</th>      
      <th>שם זן</th>
      <th>משקל פרי (גרם)</th>
      <th>האם לעץ יש זרועות?</th>
      <th>פעולות</th>
    </tr>
  </thead>

  <tbody>
    <% species_list.each do |species| %>
      <tr>
        <td class="species_row"><%= species.name %></td>        
        <td class="species_row"></td>
        <td class="species_row"></td>
        <td class="species_row"></td>
        <td class="species_row"></td>
        
        <% Cultivar.where(species_id: species.id).order('name ASC').each do |cultivar| %>
          <tr>
            <td class="cultivar_row"></td>
            <td class="cultivar_row" id="cultivar_name"><%= cultivar.name %></td>
            <td class="cultivar_row"><%= cultivar.fruit_weight_gr %></td>
            <td class="cultivar_row"><%= check_box "cultivar", "has_arms", {:checked => cultivar.has_arms, :disabled => true}%></td>
            <td class="cultivar_row">
            <%= link_to 'יבול', cultivar_path(cultivar), { :class => "button smallbutton" } %>
            <%= link_to 'ערוך', edit_cultivar_path(cultivar), { :class => "button smallbutton" } %>
            <% if logged_in? && current_user.admin? %>
            <%= link_to 'מחק', cultivar, { :method => :delete, :class => "button smallbutton", :data => { :confirm => 'מחיקת זן תביא למחיקת כל המלצות היבול הקשורות אליו. האם אתה בטוח?' }} %>
            <% end %>
            </td>
          </tr>
        <% end %>
      </tr>
    <% end %>  
  </tbody>
</table>