<%= form_for(cultivar) do |f| %>
  <% if cultivar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cultivar.errors.count, "error") %> prohibited this cultivar from being saved:</h2>

      <ul>
      <% cultivar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label "בחר את מין הפרי", :class => "flabel" %>
    <%= f.collection_select :species_id, Species.order(:name), :id, :name, {:prompt => "בחר מין", :include_blank => false} %>
  </div>

  <div class="field">
    <%= f.label "שם הזן", :class => "flabel" %>
    <%= f.text_field :name, autocomplete: "off", class: 'finput' %>
  </div>

  <div class="field">
    <%= f.label "משקל פרי (גרם)", :class => "flabel" %>
    <%= f.number_field :fruit_weight_gr, autocomplete: "off", class: 'finput' %>
  </div>

  <div class="actions">
    <%= f.submit "שמור", class: 'finput' %>
  </div>
<% end %>
