<p id="notice"><%= notice %></p>

<p class="flabel">
  <%= @cultivar.species.name %>
</p>
<p class="flabel">
  <%= @cultivar.name %>
</p>
<p class="flabel">
  <strong>משקל פרי:</strong>
  <%= @cultivar.fruit_weight_gr %>
  <strong>גרם</strong>
</p>
<br>
<h1 class="hdr">המלצות יבול קשורות</h1>
<%= render 'yieldrecs/yieldrecs', yieldrec_list: @cultivar.yieldrecs.order('yieldrecs.plot_strength ASC').all %>
<br>
