<%= form_for(yieldrec) do |f| %>
  <% if yieldrec.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(yieldrec.errors.count, "error") %>  שגיאות מנעו מרשומה זו להישמר במסד הנתונים:</h2>

      <ul>
      <% yieldrec.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "בחר את זן הפרי", :class => "flabel" %>
    <%= f.collection_select :cultivar_id, Cultivar.order(:name),:id,:name, {:prompt => 'בחר זן', :include_blank=> false} %>
  </div>
  
  <!--<div class="field">-->
  <!--  <%#= f.label "בחר את חוזק החלקה", :class => "flabel" %>-->
  <!--  <%#= f.select :plot_strength, options_for_select([['רגילה'], ['צעירה'], ['חלשה']]) %>-->
  <!--</div>-->

  <div class="field">
    <%= f.label 'הזן יבול מומלץ לדונם בחלקה צעירה (ק"ג)', :class => "flabel" %>
    <%= f.number_field :young_plot, autocomplete: "off" %>
  </div>
  
  <div class="field">
    <%= f.label 'הזן יבול מומלץ לדונם בחלקה רגילה (ק"ג)', :class => "flabel" %>
    <%= f.number_field :regular_plot, autocomplete: "off" %>
  </div>
  
  <div class="field">
    <%= f.label 'הזן יבול מומלץ לדונם בחלקה חלשה (ק"ג)', :class => "flabel" %>
    <%= f.number_field :weak_plot, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "שמור", class: 'finput' %>
  </div>
<% end %>
