<div class="topnav">
  <% if logged_in? %>
    <%= link_to "יציאה", logout_path, {:method => :delete, :class => "navbutton"} %></a>
    <div class="dropdown">
      <button class="dropbtn navbutton">עריכה
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href=<%=species_index_path%>>מינים</a>
        <a href=<%=cultivars_path%>>זנים</a>
        <a href=<%=yieldrecs_path%>>המלצות יבול</a>
        <% if current_user.admin? %>
        <a href=<%=users_path%>>משתמשים</a>
        <% else %>
        <a href=<%=edit_user_path(current_user)%>>החשבון שלי</a>
        <% end %>
      </div>
    </div> 

  <% else %>
    <a class="navbutton" href=<%=login_path%>>כניסה למורשים</a>
  <% end %>
  <a class="navbutton" href=<%=root_path%>>מחשבון</a>
  <a class="navbutton" href="mailto:annatziso@gmail.com?Subject=יצירת%20קשר%20DiluHelp" target="_blank">צור קשר</a>
</div>

<div class="footer">
  <p>Y-Trip Software | <a href="mailto:2345031@gmail.com"><font color="FF00CC">2345031@gmail.com</font></a> | (C)2019 All rights reserved</p>
</div>
